    select {
      font-size: .9rem;
      padding: 2px 5px;
    }

    .cityImg{
      height: 20rem;
      width: 40rem;
    }

    label,
    footer {
      font-family: sans-serif;
    }

    label {
      font-size: 1rem;
      padding-right: 10px;
    }

