     <label for="city-select">Choose a city:</label>

    <select name="cities" #citySelect (change)="userList(citySelect.value)">
        <option value="">--Please choose an option--</option>
        <option value="Chicago">Chicago</option>
        <option value="San Francisco">San Francisco</option>
    </select>

    <!--
    <img class = "cityImg" [src]="imageSan">
    <p>{{coordinatesSan}}</p>
    <p>{{currentCity}}</p>


    <p>{{testObs}}</p>


    <h2>HEYYYy</h2>


-->



<h2>Switch City Comp</h2>