
<div class ="allCont">
    <div class="planArticleCont" *ngFor="let item of allArticles | async" >
        <img class="planArticleImg" [src]="item.displayImg">
        <div class = "planArticleDesc">
            <p class="planArticleType">{{item.type}}</p>
            <p class="planArticleSubtype" >{{item.subtype}}</p>
            <p class="planArticleTitle">{{item.name}}</p>
            
            <a [routerLink]="['/explore/plans/', (item.name.toLowerCase() | hyphenate)]">Check Article</a>
        </div>
    </div>
</div>

