  <div class="mapCont">
      <mgl-map
        [style]="'https://api.maptiler.com/maps/9534ef7d-c9d8-41b6-8955-46ef0283e901/style.json?key=FVjeFXupqnVfeknzKQkO'"
        [zoom]="[9]"
        [center]="mapCord"
      >
        <mgl-geojson-source id="point">
            <mgl-feature
              [properties]=""
              [geometry]="{type: 'Point',coordinates: [0, 0]}"
              [mglDraggable]="targetLayer"
              (featureDrag)="onDrag($event)"
            ></mgl-feature>
          </mgl-geojson-source>
          <mgl-layer
            #targetLayer
            id="point"
            type="circle"
            source="point"
            [paint]="layerPaint"
            (layerMouseEnter)="changeColor('#3bb2d0')"
            (layerMouseLeave)="changeColor('#3887be')"
          ></mgl-layer>
          <mgl-control position="bottom-left">
            <div>
                <div>Longitude:&nbsp;{{ coordinates[0] }}</div>
                <div>Latitude:&nbsp;{{ coordinates[1] }}</div>
            </div>
          </mgl-control>
          
        <div *ngFor="let place of mapPlaces">
          <mgl-marker [lngLat]="[place.cord.longitude, place.cord.latitude]"></mgl-marker>
        </div>

      </mgl-map>
  </div>
