  <div class="mapCont">
      <mgl-map
        [style]="mapStyle"
        [zoom]="[9]"
        [center]="mapCord"
      >
        <div *ngFor="let place of mapPlaces; index as i;">
            
          <mgl-marker [lngLat]="[place.cord.longitude, place.cord.latitude]">
            <div *ngIf="place.type == 'attraction'">
                <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_attractions.svg">
                <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'entertainment'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_entertainment.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'restaurant'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_restaurants.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'scenery'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_scenery.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'shopping'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_shopping.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <mgl-popup *ngIf="place.toggle" [lngLat]="[place.cord.longitude, place.cord.latitude]" [closeOnClick]="false">
                <img class = "eventPopImg" [src]="place.displayImg">
                <p>{{place.type}}</p>
                <p>{{place.name}}</p>
                <p>{{place.rating}}</p>

                <p>{{place.city}}</p>
                <button (click)="sendPin(place.name, [place.cord.longitude, place.cord.latitude])">See Distance from Home</button>
                <a [routerLink]="['/nearby', (sendCity | hyphenate), (place.name.toLowerCase() | hyphenate)]">See More</a>
            </mgl-popup>


          </mgl-marker>
        </div>

        <mgl-marker *ngIf="sendHomeCord" [lngLat]="[sendHomeCord.long!, sendHomeCord.lat!]" [draggable]="makeHomePinDrag"
        (markerDragEnd)="onDragEnd($event)">
          <div id="homePin"></div>
          <img class="markerIcon" src="../../../../../assets/icon_home.svg">
          <p>Home</p>
        </mgl-marker>

        <!--If a div is placed inside, the default SVG marker won't be loaded in. This is why I'm forced to place an icon-->
        <mgl-marker *ngIf="sendSecondPinCord"[lngLat]="[sendSecondPinCord.cord[0], sendSecondPinCord.cord[1]]" [draggable]="true"
        (markerDragEnd)="onDragEnd($event)">
          <div id="secondPin"></div>
          <img class="markerIcon" src="../../../../../assets/icon_pin.svg">
        </mgl-marker>

      </mgl-map>
  </div>
