  <div class="mapCont">
      <mgl-map
        [style]="mapStyle"
        [zoom]="[9]"
        [center]="mapCord"
      >
        <mgl-geojson-source id="point">
            <mgl-feature
              [properties]=""
              [geometry]="{type: 'Point',coordinates: [0, 0]}"
              [mglDraggable]="targetLayer"
              (featureDrag)="onDrag($event)"
            ></mgl-feature>
          </mgl-geojson-source>
          <mgl-layer
            #targetLayer
            id="point"
            type="circle"
            source="point"
            [paint]="layerPaint"
            (layerMouseEnter)="changeColor('#3bb2d0')"
            (layerMouseLeave)="changeColor('#3887be')"
          ></mgl-layer>
          <mgl-control position="bottom-left">
            <div>
                <div>Longitude:&nbsp;{{ coordinates[0] }}</div>
                <div>Latitude:&nbsp;{{ coordinates[1] }}</div>
            </div>
          </mgl-control>
 
        <div *ngFor="let place of mapPlaces; index as i;">
            
          <mgl-marker [lngLat]="[place.cord.longitude, place.cord.latitude]">
            <div *ngIf="place.type == 'attraction'">
                <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_attractions.svg">
                <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'entertainment'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_entertainment.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'restaurant'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_restaurants.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'scenery'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_scenery.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <div *ngIf="place.type == 'shopping'">
              <img (click)="openEvent(i)" class="markerIcon {{iconColor}}" src="../../../../../assets/icon_shopping.svg">
              <p class = "markerName {{iconColor + 2}}">{{place.name}}</p>
            </div>

            <mgl-popup *ngIf="place.toggle" [lngLat]="[place.cord.longitude, place.cord.latitude]" [closeOnClick]="false">
                <img class = "eventPopImg" [src]="place.displayImg">
                <p>{{place.type}}</p>
                <p>{{place.name}}</p>
                <p>{{place.rating}}</p>

                <p>{{place.city}}</p>
                <a [routerLink]="['/nearby', (sendCity | hyphenate), (place.name.toLowerCase() | hyphenate)]">See More</a>
            </mgl-popup>


          </mgl-marker>
        </div>

        <mgl-marker *ngIf="sendHomeCord" [lngLat]="[sendHomeCord.long, sendHomeCord.lat]">
          <img class class="markerIcon" src="../../../../../assets/icon_home.svg">
          <p>Home</p>
        </mgl-marker>
      
      </mgl-map>
  </div>
