<div class="navBar">
    <header>
        <nav class = "nav-bar">
            <ul class="nav-items">
            <a class="logo" href="#"><p class="logo">Peaks</p></a>
                <li class="nav-item sec2"><a class="nav-link 1" [routerLink]="'/profile'">Profile</a></li>
                <li class="nav-item sec1"><a class="nav-link 2" [routerLink]="'/explore'">Explore</a></li>
                <li class="nav-item sec1"><a class="nav-link 3" [routerLink]="'/nearby'">Nearby</a></li>
            </ul>
        </nav>
    </header>
</div>

