<div class="navBar">
    <header>
        <nav class = "nav-bar">
            <ul class="nav-items">
            <a class="logo" href="#"><p class="logo">Peaks</p></a>
                <li class="nav-item sec2"><a href="#" class="nav-link 1">Profile</a></li>
                <li class="nav-item sec1"><a href="#" class="nav-link 2">Explore</a></li>
                <li class="nav-item sec1"><a href="#" class="nav-link 3">Nearby</a></li>
            </ul>
        </nav>
    </header>
</div>



<h2>This is the start of Peaks</h2>